<!-- greeting.html -->
<!DOCTYPE HTML>
<html>
<head th:replace="fragments.html :: head"></head>
<body>
<h3 style="text-align:center; margin-top: 1em;">LINKER!</h3>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/create-link" class="btn-floating btn-large waves-effect waves-light red"><i
                    class="material-icons">add</i></a>
            <a href="/login" class="btn btn-success active" role="button" th:unless="${user}">Login</a>
            <a href="/logout" class="btn btn-success active" role="button" th:if="${user}">Logout</a>
            <h4 id="user" th:if="${user}">[[${user}]] 님 환영합니다!</h4>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th width="28%">링크 제목</th>
                <th width="14%">링크 URL</th>
                <th width="9%">카테고리
                    <div id="category-filter" class="chips chips-placeholder">

                    </div>
                    <div id="category-init" hidden th:each="category : ${categories}">
                        <input type="hidden" th:value="${category}"/>
                    </div>
                </th>
                <th width="9%">타입
                    <div id="type-filter" class="chips chips-placeholder"></div>
                    <div id="type-init" hidden th:each="type : ${types}">
                        <input type="hidden" th:value="${type}"/>
                    </div>
                </th>
                <th width="20%">태그
                    <div id="tag-filter" class="chips chips-placeholder"></div>
                    <div id="tag-init" hidden th:each="tag : ${tags}">
                        <input type="hidden" th:value="${tag}"/>
                    </div>
                </th>
                <th width="6%">등록 유저
                    <div id="user-filter" class="chips chips-placeholder"></div>
                    <div id="user-init" hidden th:each="user : ${users}">
                        <input type="hidden" th:value="${user}">
                    </div>
                </th>
                <th width="6%"></th>
                <th width="8%"></th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:each="link : ${links.content}">
                <td id="id" hidden th:value="${link.id}"></td>
                <td>
                    <span th:text="${link.title}"></span>
                    <a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal-description">
                        <input type="hidden" id="update-id" name="update-id" value="3487">
                        <i class="material-icons">description</i>
                    </a>
                </td>
                <td><a target="_blank" th:href="@{${link.linkURL}}">[[${link.linkURL}]]</a></td>
                <td>
                    <div class="chip" style="background-color:#E7B3C0">[[${link.category}]]</div>
                </td>
                <td>
                    <div class="chip" style="background-color:#7CE1BD">[[${link.type}]]</div>
                </td>
                <td>
                    <span th:each="tag : ${link.tags}">
                        <div class="chip tag-chip" style="background-color:#C2B0BB">[[${tag}]]</div>
                    </span>
                </td>
                <td>
                    <div class="chip" style="background-color:#EE8321">[[${link.user}]]</div>
                </td>

                <td style="text-align: center; vertical-align: middle;">
                    <button class="btn-secondary like-review" style="display: inline;">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span id="counter">[[${link.likes}]]</span>
                    </button>
                </td>

                <td style="text-align: center; vertical-align: middle;">
                    <span th:if="${user}">
                        <span th:if="${link.user == user}">
                            <a id="btn-update" class="waves-effect waves-teal btn-flat">
                                <input type="hidden" id="updateId" name="updateId" th:value="${link.id}">
                                <i class="material-icons">create</i>
                            </a>
                            <a id="btn-delete" class="waves-effect waves-teal btn-flat">
                                <input type="hidden" id="deleteId" name="deleteId" th:value="${link.id}">
                                <i class="material-icons">delete</i>
                            </a>
                        </span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="center">
        <span class="pagination"
              th:each="pageNumber : ${pageNumbers}">
            <a th:href="@{/(size=${links.size}, page=${pageNumber})}"
               th:text=${pageNumber}
               th:class="${pageNumber==links.number + 1} ? active"></a>
        </span>
    </div>
</div>
</body>
<script src="/js/app/index.js"></script>
<link rel="stylesheet" href="/css/index.css">
</html>
