<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Linker!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align:center; margin-top: 1em;">링크 수정하기</h1>
<div class="col-md-12" style="display: flex; justify-content: center;">
    <div class="col-md-4">
        <form th:action="@{/links}" method="post">
            <span hidden id="id" th:value="${link.id}"></span>
            <div class="form-group">
                <label for="title">링크 제목</label>
                <input id="title" type="text" class="form-control" th:value="${link.title}"
                       placeholder="링크 제목 .. " aria-describedby="titleHelp" required minlength="3">
            </div>

            <div class="form-group">
                <label for="linkURL">링크 URL</label>
                <input id="linkURL" type="text" class="form-control" th:value="${link.linkURL}"
                       placeholder="링크 URL .. " aria-describedby="urlHelp" required minlength="3">
            </div>

            <div class="form-group">
                <label for="description">링크 설명</label>
                <textarea class="form-control" id="description" placeholder="링크에 대한 설명 .. "
                          th:value="${link.description}"
                          aria-describedby="descriptionHelp"></textarea>
            </div>

            <div class="form-group">
                <label for="category">링크 카테고리</label>
                <input type="text" class="form-control" id="category" placeholder="링크 Category .. "
                       th:value="${link.category}"
                       aria-describedby="categoryHelp">
            </div>

            <div class="form-group">
                <label for="type">링크 타입</label>
                <input type="text" class="form-control" id="type" placeholder="링크 Type .. " th:value="${link.type}"
                       aria-describedby="typeHelp">
            </div>

            <div class="form-group">
                <label for="tag">링크 Tag</label>
                <input type="text" class="form-control" id="tag" placeholder="링크 Tag .. "
                       aria-describedby="tagHelp">
                <small id="tagHelp" class="form-text text-muted">
                    해당 링크의 Tag를 입력해주세요!
                </small>
            </div>

        </form>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="btn-update">업데이트</button>
            <button type="button" class="btn btn-danger" id="btn-cancel">취소</button>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/update-link.js"></script>
</body>
</html>
